/* -------- ABÉCÉDAIRE CSS -------- */


.return_btn{
  padding: 15px;
  background-color: orange;
  color: white;
  border-radius: 25px;
  border: none;
  margin: 20px;
}

#title_abécédaire{
  text-align: center;
  color: orange;
}

/* -------- Grid -------- */

#container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.box{
  background: orange;
  color: #fff;
  padding: 5%;
  height: 200px;
}
