/* -------- ABÉCÉDAIRE CSS -------- */


.return_btn{
  padding: 15px;
  background-color: black;
  color: white;
  border-radius: 25px;
  border: none;
  margin: 20px;
}

#title_abécédaire{
  text-align: center;
  color: orange;
}

/* -------- Grid -------- */

#container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.box{
  background: white;
  border: solid 2px orange;
  color: orange;
  padding: 5%;
  height: 200px;
}

#container:target {
  background: blue;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

header{
  text-align: center;
  margin-bottom: 50px;
}

.btn{
  text-decoration: none;
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  background-color: grey;
  color: white;
}

#btn_grid:focus, #btn_flex:focus{
  background-color: black;
}
